* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

.hide {
  display: none !important;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';